
// Small screens
@media only screen {

	body {
		@include fontStd;
	}

	div.rowTitle {
		margin-bottom: 1.0em;

		h1 {
			@include fontBold;
			text-transform: uppercase;
			text-shadow: 4px 4px 9px rgba(32, 32, 32, 0.48);
			color: darken($white, 13);
		}
	}

	div.rowDay {
		margin-bottom: 1.0em;

		h2 {
			@include fontStd;
			text-shadow: 4px 4px 9px rgba(32, 32, 32, 0.48);
			color: darken($white, 13);
		}
	}

	p.paraLead {
		@include fontSemiBold;
	}

	ul {
		margin-left: 0;
		list-style: none;
	}

	ul.iconsSocial {

		li {
			@include inlineBlock;

			i {
				color: $grayLight;

				/*----------  Hover color transition ----------*/
				-webkit-transition: color 0.3s;
				-moz-transition: color 0.3s;
				-o-transition: color 0.3s;
				-ms-transition: color 0.3s;
			}
		}

		li i:hover {
			color: $grayDark;
		}
	}

	ul.listBrews {
		margin-bottom: 3.0em;

		li {
			// cursor: pointer;
			margin-bottom: 0.50em;
		}
	}

	div.msgNoSearchResults {
		margin-bottom: 1.50em;
	}

} /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {

	p.paraLead {
		font-size: 1.250em;
	}

	ul.iconsSocial {

		li:nth-child(-n+2) {
			margin-right: 0.20em;
		}
	}

	ul.listBrews li {
		// display: -moz-inline-stack;
		// display: inline-block;
		// *display: inline;
		margin-bottom: 0.80em;
		// margin-left: 8px;
		// margin-right: 8px;
	}

	ul.listBrews li:nth-child(odd) {
		@include fontSemiBold;
	}

	ul.listBrews li:nth-child(even) {
		color: darken($grayDark, 10);
	}

	div.msgNoSearchResults {
		margin-bottom: 2.50em;
	}

} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) {

	div.rowTitle {
		margin-bottom: 2.0em;
	}

	div.rowDay {
		margin-bottom: 2.250em;
	}

} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
