
<!doctype html>
<html lang="en" data-ng-app="beerApp">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width">
		<meta name="author" content="trip pruitt">

		<title>Cheers!</title>

		<link rel="stylesheet" type="text/css" href="assets/css/all.min.css">

		<!-- Favicon - SVG, PNG, ICO -->
	    <link rel="icon" type="image/svg+xml" href="#">
	  	<link rel="shortcut icon" type="image/png" href="#">
	  	<link rel="shortcut icon" type="image/x-icon" href="#">

		<script type="text/javascript" src="assets/js/modernizr.js"></script>
	</head>

	<body>

		<!--[if lt IE 9]>
		<div class="row">
			<div class="large-12 medium-12 small-12 columns text-center updateBrowser">
				<h1>You are using an outdated browser.</h1>
				<p>Please ugrade your <a href="http://whatbrowser.org/" target="_blank">browser</a>.</p>
			</div>
		</div>
  		<![endif]-->

		<div class="hero">
			<header>
				<div class="row rowTitle">
					<div class="large-12 medium-12 small-12 columns text-center">
						<h1>Cheers!</h1>
					</div>
				</div><!-- /row -->
			</header>

			<div class="row rowDay">
				<div class="large-12 medium-12 small-12 columns text-center">
					<h2></h2>
				</div>
			</div><!-- /row -->

			<div class="row">
				<div class="large-12 medium-12 small-12 columns text-center">
					<p class="paraLead">Here are the brews on tap today&#8230;</p>
				</div>
			</div><!-- /row -->
		</div><!-- /hero -->

		<div class="row searchWrap" data-ng-controller="beerController">
			<div class="large-12 medium-12 small-12 columns">
				<div class="row collapse">
					<div class="large-8 large-centered medium-8 medium-centered small-12 columns">
						<input type="text" placeholder="Search brews&#8230;" data-ng-model="contentItemData">
					</div>
				</div><!-- /row collapse -->

				<ul class="listBrews">
					<li data-ng-repeat="brew in brews | filter: name | orderBy: 'brewery'">{{contentItemName}} - {{contentItemData}}</li>
				</ul>
			</div>
		</div><!-- /row -->

		<div class="row">
			<div class="large-12 medium-12 small-12 columns text-center">
				<p class="paraLead">Share your favorite brew!</p>
			</div>
		</div><!-- /row -->

		<div class="row">
			<div class="large-12 medium-12 small-12 columns text-center">
				<ul class="iconsSocial">
					<li><a href="#"><i class="fa fa-instagram fa-2x"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
				</ul>
			</div>
		</div><!-- /row -->

		<!-- SCRIPTS -->
		<script type="text/javascript" src="assets/js/all.min.js"></script>
	</body>
</html>
